/* body{
    background-image:linear-gradient(to bottom, #0a0a23, #000000),  url("./Img/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
p{
    font-size: 0.9rem;
}
h1,h2{
    font-size: 1rem;
}
.home__container{
    display: grid;
    grid-template-rows: minmax(min-content,80vh) min-content repeat(4,min-content);
    grid-template-columns:[full-start]minmax(2rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(2rem,1fr)[full-end];
    grid-gap: 0.2rem;
    margin: 0.5rem 0.6rem;
}
.hero__head{
    /* background-color: green; */
    grid-column:full-start/col-end 4 ;
    background-image:linear-gradient(rgba(8,8,37,0.85),rgba(15, 16, 21, 0.65)), url('./Img/block.jpg');
    /* background-image:linear-gradient(rgba(8,8,37,0.85),rgba(0,15,80,0.65)), url('./Img/disruptive.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.7rem;
    color: #ACACAC;
    font-size: 1rem;
}
.hero__head h2{
    font-size: 1rem;
}
.block{
    position: relative;
    width: 20rem;
    height: 20rem;
}
.block img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 60%;
    opacity: 0.7;
}
.hero__emerging{
     animation-name:moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.hero__intro{
    position: relative;
    grid-column:col-start 5/full-end ;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.4rem;
    color: #ACACAC;
    text-align: center;
    /* background-image:linear-gradient(rgba(8,8,37,0.85),rgba(15, 16, 21, 0.65)),url('./Img/block.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__intro h1{
    font-size: 1rem;
}
.dark3-borderimg{
    position: absolute;
    width: 100%;
    top: -2rem;
}
.dark3-borderimg img{
    width: 100%;
}
@media only screen and (max-width:700px){
    .hero__head{
        grid-column: full-start/full-end ;
    }
    .hero__intro{
         grid-column: full-start/full-end ;
    }
}
.white__paper{
    /* background-color: aqua; */
    margin-top: 3rem;
    grid-column: center-start/center-end;
     display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.4rem;
    color: rgb(139, 136, 136);
    text-align: center;
     background-image:linear-gradient(rgba(8,8,37,0.85),rgba(15, 16, 21, 0.65)),url('./Img/block.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3rem;
}
.globe--img{
    width: 15rem;
    height: 15rem;
    margin: auto;
}
.globe--img img{
    width: 100%;
    object-fit: contain;
    border-radius: 20%;
    opacity: 0.7;
}
.white__paper h1{
    font-size: 1rem;
}
.why_intel{
    margin-top: 2rem;
}
.why_intel h4{
    font-size: 1rem;
}
.faq{
    margin-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
     background-image:linear-gradient(rgba(8,8,37,0.85),rgba(15, 16, 21, 0.65)),url('./Img/block.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    grid-column: full-start/full-end;
    
    color: #ACACAC;
    text-align: center;
}
.faq .faq_dark-borderimg{
  position: absolute;
 top: -2.5rem;
 width: 100%;   
}
.faq_dark-borderimg img{
    width: 100%;
}
.faq h3{
    font-size: 1rem;
}
.faq h4{
    font-size: 0.95rem;
    font-family: 'Times New Roman', Times, serif;
}
.road__map{
    position: relative;
    margin-top: 1rem;
    grid-column:full-start/col-end 4 ;
    text-align: center;
    padding: 0.4rem;
    color: rgb(242, 248, 247);
     background-image:linear-gradient(rgba(8,8,37,0.85),rgba(15, 16, 21, 0.65)),url('./Img/block.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-2-borderImg{
    position: absolute;
    top: -3rem;
    width: 100%;
}
.dark-2-borderImg img{
    width: 100%;
}
.road__map h2{
    font-size: 1rem;
}
.coin__value{
   
    grid-column:col-start 5/full-end ;
    
    word-break: break-all;
    padding: 1rem;
    color: #ACACAC;
    background-image: url("./Img/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coin__value p{
    font-size: 0.9rem;
}
.presale__info{
    grid-column: center-start/center-end;
    padding: 0.4rem;
    color: #ACACAC;
    padding-top: 0.7rem;
    background-image: url("./Img/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.presale_price--info,.freebitcoin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presale_price--info p{
    font-size: 0.8rem;
}
.freebitcoin_link--earn{
    text-decoration: none;
    font-size: 17px;
    color: rgb(242, 248, 247);
    font-weight: 700;
    font-style: italic;
}
.usa_seal_image--container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem 1.3rem;
    margin-bottom: 2rem;
}
.features_section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 0.5rem;
    background-image: url("./Img/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.presale__info h3{
    text-align: center;
}
.presale__info h2{
    font-size: 1rem;
}
.presale__info p a{
    text-decoration: none;
    color: rgb(220, 219, 231);
    /* border: 1px solid white; */
    border-radius: 20px;
    background-color: rgb(26, 20, 79);
    padding: 0.3rem;
    box-shadow: 2px 1px 2px rgb(227, 221, 221);
}
.presale__info p{
    text-align: center;
}
.presale_img{
    width:15em;
    height: 15rem;
    margin: auto;
    padding-bottom: 0.7rem;
}
.presale_img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.footer{
    background-image: url("./Img/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: full-start/full-end;
    padding: 4rem;
    border-radius: 30px;
}
.showMore{
    color: rgb(27, 73, 73);
    font-size: 0.7rem;
    /* margin-bottom: 0.4rem; */
}
.footer__socials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 1;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (min-width:540px) and (max-width:540px){
     .home__container{
        display: block;
        width: 100%;
    }
    .features_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}
}
@media only screen and (max-width:768px){
    .home__container{
        display: block;
        width: 100%;
        margin: 0;
    }
    .hero__head{
        height: 40vh;
        width: 100vw;
    }
     .freebitcoin{
        width: 80%;
        margin: auto;

     }
      .freebitcoin a img{
        width: 100%;
        object-fit: cover;
      }
        .features_section{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/* @media only screen and (max-width:540px){
    body{
        width: 100%;
    }
    .home__container{
        display: block;
        width: inherit;
    }
    .hero__head{
        height: 40vh;
    }
} */
@media only screen and (max-width:412px){
    .home__container{
        display: block;
        /* width: 100%; */
    }
    .hero__head{
        height: 40vh;
    }
  
    
}
@media only screen and (max-width:375px){
    .home__container{
        display: block;
        width: 100%;
        margin: 0;
        /* margin-left: 0.7rem; */
    }
   
}
@media only screen and (max-width:280px){
    .home__container{
        display: block;
        width: 100vw;
        margin: 0;
        /* margin-left: 0.7rem; */
    }
     .hero__head{
        height: 40vh;
        width: 100vw;
    }
   
}
