.Home{
    position: relative;
    height: 100vh;
    background-image:linear-gradient(rgb(28, 5, 5),rgba(2, 7, 30, 0.65),rgba(3, 3, 19, 0.85)), url('./Img/polygon-bg.png');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.Intel{
    position: absolute;
    color: #ACACAC;
    /* align-items: center; */
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    
}

.wave{
    display: block;
    letter-spacing: 12px;
    font-size: 0.8rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.disrupt{
    padding-top: 0.8rem;
    display: block;
    letter-spacing: 4px;
    font-size: 0.8rem;
    border-bottom: 1px solid rgb(144, 54, 54);
    font-style: italic;
    /* animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; */
}
.para{
    padding-top: 0.8rem;
     letter-spacing: 2px;
    font-size: 0.6rem;
    font-style: italic;
     animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.btnAnime{
     animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    font-size: 0.5rem;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 1;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    80%{
        opacity: 1;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}