.licenses h3{
    font-size: 18px;
}
.license_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
}
.license_image--container{
    width:40%;
    margin-top:-3rem;
}

.license_image--container img{
    width: 5rem;
    object-fit: contain;
    margin-right: 1rem;
    margin-top:-2rem;
}
.license_body h5{
     font-size: 16px;
    font-weight: 700;
}
